body {
    background-color: #dbdada;
}

.list-group-item {
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.rate-base-layer
{
    color: #aaa;
}
.rate-hover-layer
{
    color: orange;
}

.rate, .deck-rate {
    font-size: 25px;
}

.deck-rate {
    margin: -5px 0 -10px 0;
}

.rate-select-layer span {
    color: orange;
}

.list-group-item {
    font-size: 18px;
}
